body{
   margin:0px;  
   font:13px/1.231 sans-serif;
}

#content{
    width:100%;
	min-width:1080px;
    height:430px;
	margin-top:60px;
	background-color: #333;
}

#nosendoricontent{
    width:100%;
	min-width:1210px;
    height:430px;
	margin-top:60px;
	background-color: #333;
}

#mainContent {
    height: 100%;
    width: 1080px;
	display:inline-block;
}


#mainText{
    width:650px;
    height:100%; 
    position:relative;
	text-align:left;
	*float:left;
}

#noSendoriMainContent {
    height: 100%;
    width:1210px;
	display:inline-block;
}

#noSendoriMainText{
	width:1010px;
	*width:980px;
    height:100%; 
    position:relative;
	text-align:center;
}

#noSendoriMainText div{
	font-weight:lighter;
	font-family:sans-serif;
	font-size:18px;
	letter-spacing:1px;
	color:#999;	
	position:relative;
}

#noSendoriMainText div a{
	color: #999;
}

#noSendoriMainText div a:hover {	
	color: #0099ff;
}

#badsite{
	font:24px Helvetica;	
	color:#F60;	
	position:relative;
	top:150px;
}

#Pls{
	font:24px Helvetica;	
	color:#ccc;	
	position:relative;
	top:155px;
}	

#Cont{
	color:#0099ff;
	position:relative;
	top:175px;
	font-family: Helvetica;
	font-size: 18px;
}	

#thtxt{
	font:36px Helvetica;	
	color:#F60;	
	position:relative;
	top:180px;
}

#nsen{		
	top:130px;
}

#nsen b{
	 color:#F60;
}

#learn{		
	top:130px;
}	

#banner{		
	top:100px;
}

#dns{	
	top:155px;
}	

#dns span{
	color:#1098ff;
}

#err{		
	top:180px;
}

#feedbackIcon {
    background: url("assets/icon_blocked.png") no-repeat;
    float: left;
    height: 221px;
    position: relative;
    margin-top: 100px;
    width: 230px;
}

#thankuIcon {
    background: url("assets/icon_happy.png") no-repeat;
    float: left;
    height: 221px;
    position: relative;
    margin-top: 100px;
    width: 230px;
}

#shieldIcon {
    background: url("assets/icon_shield.png") no-repeat;
    float: left;
    height: 234px;
    position: relative;
    margin-top: 100px;
    width: 230px;
}

#footNote{
	font-family:'Arial';
	font-size:11px;
	color:#aaa;
	position:relative;
	padding-top:100px;
        padding-bottom:8px;
}

#footNote a{
	text-decoration:none;
	color:#aaa;
	cursor:pointer;
}

/*LINKS FORMATTING*/	
.hyperlink{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	color:#0099ff;
	text-decoration:underline;
	}

a:link {
	color: #0099ff;
	}
	
a:visited {
	color:#0099ff;
	}
	
a:hover {
	text-decoration: underline;
	color: #0099ff;
	}
	
