body{
   margin:0px;
   overflow-y:hidden;
}

#content{
    width:100%;
    height:630px;
    min-width:1100px;
    background-color: #2e2e2e;
}


#mainText{    
    width:1100px;
    height:630px;    
    position:relative;
}


#errorMessage{
	float:right;
	/*background-color:#222;*/
	top:20%;
	margin-top:-100px;
	height:200px;
	width:500px;
	float:left;
	margin-left:-175px;
	position:relative;

}

#image404{
	height:418px;
	width:600px;
	background: url('assets/icon_404.png') no-repeat;
	position:relative;
	top:40%;	
	margin-top:-209px;	
	float:left;
}

#text1 {
	font-family:'helvetica';
	font-size:14px;
	color:#FFF;
	text-align:left;
	word-spacing:1px;
	line-height:40px;
	padding-top:15px;
}

#text2{
	font-family:'helvetica';
	font-size:14px;
	color:#FFF;
	text-align:left;
	word-spacing:1px;
	line-height:20px;
	padding-top:5px;
	padding-left:0px;
	padding-right:40px;
}


