* {
    margin:0px;
    padding:0px;
}

body{
    margin:0px;
    min-width:1200px;
    overflow-y:hidden;
}

/********************* BAR *********************/
#bar{
    position:relative;
    width:100%;
    height:36px;
    min-width:1200px;
/*background:#000;*/
    color:#CCC;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    background-image:url(assets/bar_bg.png);
    background-repeat:repeat-x;
}

/********************* SENDORI LOGO *********************/
#sendori{
    position:relative;
    float:left;
    width:100px;
    height:36px;
    padding-left:5px;
    margin:none;
    cursor:pointer;
}

/********************* DIVIDER *********************/
#divider{
    position:relative;
    float:left;
    background-image:url(assets/icons_sets.png);
    width:1px;
    height:24px;
    background-position: -308px 0px;
    background-repeat:no-repeat;
    border:none;
    margin: 6px 4px ;
}

/********************* ERROR MESSAGE *********************/
#error{
    position:relative;
    float:left;
    width:133px;
    font-family:'helvetica';
    height:24px;
    padding-top:4px;
    margin: 6px 0px 6px 4px;
}

/********************* INFO ORANGE *********************/
#info_orange {
    position:relative;
    float:left;
    background-image:url(assets/icons_sets.png);
    width:19px;
    height:24px;
    background-position: -46px 0px;
    background-repeat:no-repeat;
    border:none;
    margin-top: 6px;
    margin-left:11px;
    margin-right:4px;
}

#info_orange:hover {
    position:relative;
    float:left;
    background-image:url(assets/icons_sets.png);
    width:27px;
    height:24px;
    background-position: -65px 0px;
    background-repeat:no-repeat;
    border:none;
    margin-left: 7px;
    margin-right: 0px;
}
/********************* LABEL *********************/
#label{
    font-weight:bold;
    position:relative;
    float:left;
    width:auto;
    height:24px;
    padding-top:4px;
    margin: 6px 0px 6px 12px;
}

/********************* LEFT/RIGHT BUTTON *********************/
#button{
    position:relative;
    float:left;
    background-image:url(assets/icons_sets.png);
    width:48px;
    height:24px;
    background-position: -92px 0px;
    background-repeat:no-repeat;
    border:none;
    margin: 6px 4px 6px 4px;
}

/********************* FAVICON *********************/
#favicon{
    background-repeat:no-repeat;
    position:relative;
    float:left;
    width:16px;
    height:16px;
    margin: 10px 2px 10px 2px;
}

/********************* BRAND *********************/
#brand{
    position:relative;
    float:left;
    width:auto;
    height:24px;
    padding-top:4px;
    margin: 6px 8px 6px 2px;
    cursor:pointer;
    text-decoration: underline;
}

/********************* TITLE *********************/
#title{
    position:relative;
    float:left;
    width:auto;
    height:24px;
    padding-top:4px;
    margin: 6px 8px 6px 8px;
    cursor:pointer;
    text-decoration: underline;
}


/********************* FEEDBACK *********************/

#feedbackButton {
    position:relative;
    float:right;
    background-image:url(assets/icons_sets.png);
    width:19px;
    height:24px;
    background-position: -218px 0px;
    background-repeat:no-repeat;
    border:none;
    margin-top: 7px;
    margin-right: 4px;
    cursor:pointer;
	z-index:20;
}

#feedbackButton:hover {
    position:relative;
    float:right;
    background-image:url(assets/icons_sets.png);
    width:27px;
    height:24px;
    background-position: -255px 0px;
    background-repeat:no-repeat;
    border:none;
    margin-right: 0px;
}

/********************* CLOSE *********************/
#close {
    position:relative;
    float:right;
    background-image:url(assets/icons_sets.png);
    width:18px;
    height:24px;
    background-position: -237px 0px;
    background-repeat:no-repeat;
    border:none;
    margin-top: 6px;
    margin-left:12px;
    margin-right:8px;
    cursor:pointer;
}

#close:hover {
    position:relative;
    float:right;
    background-image:url(assets/icons_sets.png);
    width:26px;
    height:24px;
    background-position: -282px 0px;
    background-repeat:no-repeat;
    border:none;
    margin-right: 4px;
    margin-left: 8px;
}

/********************* TOOLTIPS *********************/
/*---------- bubble tooltip -----------*/
*.tt{
    position:relative;
    z-index:24;
    color:#3CA3FF;
    font-weight:bold;
    text-decoration:none;
}
*.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
*.tt:hover{ z-index:25; color: #aaaaff; background:;}
*.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:15px;
    right:-20px;
    padding: 5px;
    width:auto;
    color: #333;
    text-align: left;
    filter: alpha(opacity:90);
    KHTMLOpacity: 0.90;
    MozOpacity: 0.90;
    opacity: 0.90;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:#666 thin;
}

*.tt:hover span.middle{ /* different middle bg for stretch */
    display: block;
    padding: 0 8px;
    background: #333;
    color:#CCC;
    font-weight:normal;
    padding:5px;
}

/*---------- bubble tooltip FEEDBACK -----------*/
*.tf{
    position:relative;
    z-index:24;
    color:#3CA3FF;
    font-weight:bold;
    text-decoration:none;
}
*.tf span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
*.tf:hover{ z-index:25; color: #aaaaff; background:;}
*.tf:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px;
    right:30px;
    padding: 5px;
    width:auto;
    color: #333;
    text-align: left;
    filter: alpha(opacity:90);
    KHTMLOpacity: 0.90;
    MozOpacity: 0.90;
    opacity: 0.90;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:#666 thin;
}

*.tf:hover span.middle{ /* different middle bg for stretch */
    display: block;
    padding: 0 8px;
    background: #333;
    color:#CCC;
    font-weight:normal;
    padding:5px;
}

/*---------- bubble tooltip CLOSE -----------*/
*.tc{
    position:relative;
    z-index:24;
    color:#3CA3FF;
    font-weight:bold;
    text-decoration:none;
}
*.tc span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
*.tc:hover{ z-index:25; color: #aaaaff; background:;}
*.tc:hover span.tooltip{
    display:block;
    position:absolute;
    top:15px;
    right:10px;
    padding: 5px;
    width:auto;
    color: #333;
    text-align: left;
    filter: alpha(opacity:90);
    KHTMLOpacity: 0.90;
    MozOpacity: 0.90;
    opacity: 0.90;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:#666 thin;
}

*.tc:hover span.middle{ /* different middle bg for stretch */
    display: block;
    padding: 0 8px;
    background: #333;
    color:#CCC;
    font-weight:normal;
    padding:5px;
}


/*---------- Iframe style -----------*/
#iFrameId{
    padding:0px;    
    width:100%;
    height:100%;
	margin-top: -5px;
	*margin-top: 0px;	
}

#frameDiv{
    width:100%;
    height:100%;
}

/*----------- Feedback drop down menu----------*/

#menu{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-bottomright:6px;
    -moz-border-radius-topleft:6px;  
    background:#000000 none repeat scroll 0 0;
    border:1px solid #9CBEC7;
    float:right;
    height:44px;
    margin:0 0 0 4px;
    position:absolute;
    top:34px;
    visibility:hidden;
    width:206px;
    z-index:10;
}

#feedback {
    margin: 0;
    padding: 0;
    z-index: 30;
    right:247px;
    float:right;
	position:absolute;
}

#feedback li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    padding-top: 4px;
    padding-bottom:4px;
    font: bold 11px arial
}

#feedback li a {
    display: block;
    margin: 0 1px 0 0;
    width: 207px;
    background: #5970B2;
    padding-top: 4px;
    padding-bottom:4px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
}

#feedback li a:hover {
    padding-top: 4px;
    padding-bottom:4px;
	cursor:pointer;
}

#feedback div a {
    position: relative;
    display: block;
    width: 206px;
    white-space: nowrap;
    text-align: left;
    padding-top: 4px;
    padding-bottom:4px;
    text-indent: 20px;
    text-decoration: none;
    background: none;
    font: 11px arial;
}



#feedback div a:hover {
    background: #CCCCCC;
    color: #000;
}

.link1:hover {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-border-radius-topleft:4px;    
}

.link2:hover {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;

    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    background: #CCCCCC;
    color: #000;
}

#infoIcon{
	-moz-background-origin:padding;  
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border:1px solid #9CBEC7;
    float:right;
	background-color:black;
    height:21px;
	padding:4px;   
    position:absolute;
    top:5px;
	right:-212px;
    visibility:hidden;
    width:22px;
    z-index:20;
	border-style:solid solid none;
}

#alertIcon{
	-moz-background-origin:padding;  
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border:1px solid orange;
	background-color:black;
    height:21px;
	padding:4px;   
    position:absolute;
    top:5px;	
    visibility:hidden;
    width:22px;
    z-index:21;
	border-style:solid solid none;
	left:255px;
}

#alertMessage{
	-moz-background-origin:padding;  
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-topright:6px;
	-moz-border-radius-bottomright:6px;
	position:absolute;
	background-color:black;
	border:1px solid orange;
	min-width:150px;	
	visibility:hidden;
	top:34px;
	left:255px;
	height:20px;
	line-height:18px;
	text-align:center;
	vertical-align:middle;
	border-style:solid solid solid;
	border-color:orange;
	z-index:20;
	padding:4px;
}

/*------Modified Previous and Next icons styles-------*/

#navlist {
    width:100%;
    height:40px;
    display:inline;
    list-style:none;
}

#navlistLeft{
	float:left;
    background-image:url(assets/icons_sets.png);
    background-repeat:no-repeat;
    width:18px;
    height:22px;
    background-position: -140px 0px;
    margin-left:5px;
    cursor:pointer;
}

#navlistRight{
	float:left;
    background-image:url(assets/icons_sets.png);
    background-repeat:no-repeat;
    width:18px;
    height:22px;
    background-position: -179px 0px;
    margin-left:5px;
    cursor:pointer;
}

#navlistLeft:hover{
	float:left;
    background-image:url(assets/icons_sets.png);
    background-repeat:no-repeat;
    width:21px;
    height:22px;
    background-position: -156px 0px;
    margin-left:2px;
}

#navlistRight:hover{
	float:left;
    background-image:url(assets/icons_sets.png);
    background-repeat:no-repeat;
    width:21px;
    height:22px;
    background-position: -195px 0px;
    margin-left:1px;
}
